#clock {
  /* width: 300px; */
  height: 100px;
  /* border: solid; */
  font-style: bold;
  font-family: Impact, sans-serif;
  font-size: 250px;
  text-align: center;
  color: white;
}
@media all and (max-width: 480px){
  #clock {
    font-size: 75px;
  }
}
@media all and (min-width: 481px) and (max-width: 768px){
  #clock {
    font-size: 150px;
  }
}
